@media screen and (max-width: 1200px) {
    .carousel-caption {
        top: 35%;
        max-width: 50%;
    }

    .carousel-caption span {
        font-size: 0.8rem;
    }

    .carousel-caption h1 {
        font-size: 2.2rem;
        font-weight: 700;
        width: 80%;
    }

    .carousel-caption p {
        width: 70%;
    }
}

@media screen and (max-width: 1024px) {
    .top_wrapper .top_tag {
        display: none;
    }

    .nav-link {
        font-size: 1rem;
    }

    .new_book_launch .card_wrapper .card {
        width: 30%;
    }

    .newsletter_sec .newsletter-content form input {
        padding: 0.5rem 1rem 0.5rem;
    }

}

@media screen and (max-width: 768px) {
    .carousel-item img {
        display: none;
    }

    .carousel-item {
        background-color: #FBF3EC;
        height: 350px;
    }

    .carousel-caption {
        max-width: 90%;
    }

    .carousel-caption h1 {
        font-size: 1.8rem;
        font-weight: 700;
        width: 90%;
    }

    .carousel-caption p {
        width: 100%;
    }

    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }

    .feature_sec .card_wrapper .card,
    .new_book_launch .card_wrapper .card,
    .session_program .card_wrapper .card {
        width: 45%;
    }

    .our_team .member:nth-child(2) .member-img-wrapper {
        order: -1;
    }

    .social-link i {
        font-size: 0.8rem;
        padding: 0.5rem;
    }

    .newsletter_sec .newsletter_wrapper {
        text-align: center;
    }

    .newsletter_sec .newsletter-content p {
        width: 100%;
    }

    .newsletter_sec img {
        margin-top: 2rem;
        width: 100% !important;
    }

    .intro_sec .about_content {
        margin-top: 2rem;
    }
    .contact-container {
        flex-direction: column;
    }

    .contact-form-container, .contact-info {
        flex: 1 1 100%;
    }
}

@media screen and (max-width: 550px) {
    .container {
        width: 90% !important;
    }

    .navbar .container {
        width: 100% !important;
    }

    .main-banner-content {
        padding: 1rem 1rem !important;
    }
    section.hero_img{
        display: block;
    }
    .banner-main-3 {
        padding: 1rem 0 !important;
    }

    .breadcrumb li {
        font-size: 2rem;
    }

    .page-banner {
        height: 100%;
    }

    .carousel-item .hero1,
    .carousel-item .hero2,
    .carousel-item .hero3 {
        background: none !important;
        background-color: #FBF3EC !important;
    }

    .feature_sec .card_wrapper .card,
    .new_book_launch .card_wrapper .card,
    .session_program .card_wrapper .card {
        width: 100%;
    }

    .newsletter_sec .newsletter-content h3 {
        font-size: 2rem;
    }

    .newsletter_sec .newsletter_wrapper .row {
        padding: 2rem 0rem !important;
    }

    .newsletter_sec .newsletter_wrapper form input {
        margin-bottom: 1rem;
    }
    
}

@media screen and (max-width: 425px) {

    .carousel-item {
        height: 450px;
    }

    .carousel-caption h1 {
        font-size: 1.5rem;
        font-weight: 600;
        width: 100%;
    }

    .top_wrapper .top_email {
        display: none;
    }

    .banner-main-3 {
        padding: 1.5rem !important;
    }

    .our_team .member-img img {
        width: 100%;
    }

    .session_program .btn-part a:nth-child(2) {
        margin: 1rem 0;
    }
    .policies_content h3 {
        font-size: 1.2rem;
    }
    
    .policies_content p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 375px) {
    .carousel-item {
        height: 350px;
    }

    .btn {
        padding: 0.2rem 0.5rem !important;
        margin-bottom: 1rem !important;
    }
}