@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root{
  --primary:#004A80;
  --text:#fff;
  --dark:#041420;
  --light:#00233C;
  --btn-bg:#FF6B00;
  --banner:#FBF3EC;
  --subheading:#004A80;
  --cardbg:#F6F6F6;
  --cardtext:#6A7695;
  --span-text:#FF6B00;
  --secondary:#FF6B00;
  --tertiary:#1A702D;
  --fourth:#803654;
  --footer:#F1F1F1;
  --sticky:#fff;

}
a{
  text-decoration: none;
  /* color: var(--text); */
}
li{
    list-style-type: none;
}
.nav-link{
  font-size: 1.2rem;
  color:var(--light) !important;
  font-weight: 500;
}
.nav-link:hover{
  color: var(--secondary) !important;
}
.nav-link.active{
  font-size: 1.2rem;
  color:var(--dark);
  font-weight: 700;
}
.btn{
  border-radius: 1.2rem;
  /* margin-left: 1.2rem; */
  background-color: var(--primary);
  color: var(--text);
  border: var(--primary);
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
}
.btn:hover{
  background-color: #FF6B00;
}
#header {
  background-color: var(--primary);
  padding: 0.5rem 0rem;
}
#header .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* Sticky */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--sticky);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.contact-link a{
  color: var(--text);
  text-decoration: none;
  font-size: 1.2rem;
  margin-left: 2rem;
}
.contact-link i{
  color: #fff;
  margin-right: 0.5rem;
}

/*----------------------
 BANNER STYLE
-----------------------*/
.py-7 {
  padding: 7.5rem 0;
}


.subtitle{
  color: var(--subheading);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2.6px;
  font-weight: 600;
  width: 50%;
}


.banner-main-3{
  background:var(--banner);

 
  /* padding: 100px 0px 0px 0px;  */
  padding: 8.8rem 0rem 8.8rem 0rem;
}
.carousel-control-prev-icon{
  color: var(--secondary);
}
.main-banner-content h1 {
  font-size:3.2rem;
  font-weight: 800;
  width: 80%;
  /* line-height: 78px;
  margin:10px 0px 20px; */
}


.main-banner-content p{
  font-size:1.2rem;
  color: var(--light);
  width: 83%;
  font-weight: 500;
}
.btn-container{
  margin-top:35px;
}
.banner-main-3 .btn-main{
  margin-left: 0rem;
  padding: 0.9rem 1.3rem;

}
.banner-main-3 .btn-main:hover{
  background-color: var(--tertiary);
  color: #fff;

}


.banner-main-3 .btn-main-2{
  margin-left: 0rem;
  padding: 0.9rem 1.3rem;
  background-color: var(--btn-bg);
}
.banner-main-3 .btn-main-2:hover{
  background-color: var(--fourth);
  color: #fff;

}

.carousel .banner-img img {
  height: 500px; 
  width: auto;
 
}
.carousel-item .hero1{
  background: url("../images/heroslider1.png");

  background-size: cover;
  background-position: center;
  /* padding: 9rem 0rem; */
}
.carousel-item .hero2{
  background: url("../images/heroslider3.png");

  background-size: cover;
  background-position: center;
  /* padding: 9.5rem 0rem; */
}
.carousel-item .hero3{
  background: url("../images/heroslider2.png");

  background-size: cover;
  background-position: center;
  /* padding: 9rem 0rem; */
}
.carousel-item .hero3 .main-banner-content{
  width: 76%;
}
.carousel-item .hero1 .main-banner-content{
  width: 80%;
}


/*  Feature home 3 section */

/* .heading{
  margin-bottom:50px;
} */

.heading h2{
  font-size: 40px;
  margin: 10px 0px;
}

.features{
  padding-top:100px;
  padding-bottom:70px;
}
.feature-item{
  position:relative;
  padding-left:60px;
}
.feature-icon{
  position:absolute;
  left:0px;
  font-size:35px;
}

.feature-icon i{
  color:#4054B2;
}

/*  CTA -3 */
.cta-3 {
  padding-top:70px
}
.cta-wrapper{
  position:relative;
  background:#4054B2;
  background:url("../images/about/cta-bg.jpg") fixed 50% 50%;
  background-size:cover;
  border-radius:15px;
  padding:80px 40px 90px 40px;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.cta-wrapper:before{
  position:absolute;
  content:"";
  left: 0px;
  top:0px;
  width:100%;
  height:100%;
  background:#4054B2;
  opacity: .95;
  border-radius:15px;
}


.cta-3 .cta-content span{
  color:rgba(255, 255, 255, 0.47);
  font-size: 18px;
}
.cta-3 .cta-content h2{
  color:#fff;
  font-size: 48px;
  margin:20px 0px 30px;
}
.cta-3 .cta-content .btn:hover{
  border-color:#fff;
}
.cta-3 .cta-content .btn:hover i{
  color:#F9C200;
}
/* Privacy section */
#privacy{
  padding: 6rem 0rem;
}
#privacy h3{
  font-size:1.5rem;
  font-weight: 600;
  color: var(--dark);
}
#privacy p{
  font-size:1.2rem;
  color: var(--light);
}
#privacy ul li{
  list-style-type: disc;
  font-size:1.2rem;
  color: var(--light);
}
#privacy span{
  font-size:1.2rem;
  color: var(--light);
  font-weight: 600;
}
/* Terms section */
#terms{
  padding: 6rem 0rem;
}
#terms h3{
  font-size:1.5rem;
  font-weight: 600;
  color: var(--dark);
}
#terms p{
  font-size:1.2rem;
  color: var(--light);
}
#terms ul li{
  list-style-type: disc;
  font-size:1.2rem;
  color: var(--light);
}
#terms span{
  font-size:1.2rem;
  color: var(--light);
  font-weight: 600;
}
/* Footer */
.footer {
  padding-top: 6rem;
  background-color: var(--footer);
}
.footer-bottom .container {
  border-bottom: 1px solid var(--light);
}
.footer-copy  {
  
  font-size: 1.1rem;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 2rem;
}
.footer-copy a{
  color: var(--light);
}
.footer-copyright{
  margin-top: 2rem;
}
.footer-content{
  font-size: 1.1rem;
  color: var(--light);
}
.naestinn a{
  font-weight: 600;
  color: var(--light);
}
.naestinn a span{
  color: var(--secondary);
}
 .copyright span{
   font-weight: 600;
}
.footer-top p{
  font-size: 1.2rem;
  color: var(--light);
}
.footer .list-unstyled a{
   text-decoration: none;
   color: var(--light);
   font-size: 1.2rem;
   
}
.footer .list-unstyled li{
  margin-top: 1.5rem;
}
.footer .list-unstyled span{
  font-weight: 800;
}
.footer h4{
  font-size: 1.5rem;
  color: var(--light);
  margin-top: 2.5rem;
  font-weight: 600;
}

.current-year {
  color: #cc302b !important;
}

.text-black {
  color: #222;
}

/*----------------------------
/* Breadcrumb */

#breadcrumb {
  /* background: url("../images/aboutbanner.png"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 44vh; 
  display: flex;
  align-items: center; 
  justify-content: center; 
  text-align: center; 
}

.breadcrumb {
  margin: 0; 
}

.breadcrumb-item {
  display: inline; 
}
.about-page{
  background: url("../images/contact.png") !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
   height: 41vh !important;
}
 .contact-page{
  background: url("../images/contact.png") !important;
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
  height: 41vh !important;
  /* padding: 6rem 0rem; */
}
.privacy-page{
  background: url("../images/privacy.png") !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
   height: 41vh !important;
   /* padding: 6rem 0rem; */
}
.terms-page{
  background: url("../images/terms.png") !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
   height: 41vh !important;
   /* padding: 6rem 0rem; */
}
.books{
  background: url("../images/books.png") !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
   height: 41vh !important;
   /* padding: 6rem 0rem; */
}

.breadcrumb li{

  /* margin-top: 2.5rem; */
  font-weight: 700;
  font-size: 4rem;
}
.breadcrumb li a{
  text-decoration: none;
  color: var(--text) !important;
}


/* Best seller */
#bestseller{
  padding: 6rem 0rem;
  background-color: var(--banner);
}
#bestseller img{
  width: 100%;
}
/* Contact  */
#contact{
  padding: 6rem 0rem;
}
#contact p{
  margin-top: 1rem;
  font-size: 1.2rem;
}
#contact h2{
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--light);
}
#contact textarea{
  margin-top: 2rem;
  resize: none;
  height: 200px;
}

#contact h4{
  font-size: 1.5rem;
}
.contact-info-block h4 {
  margin-bottom: 0px;
  margin-left: 4rem;
}
.contact-info-block p{
  margin-left: 4rem;
}

.contact-info-block i {
  font-size: 40px;
  margin-bottom: 20px;
  display: block;
  color: #cc302b;
}

.form-control {
  border: 1px solid rgba(0, 0, 0, 0.04);
  background: #F4F7FC;
  height: 60px;
  padding-left: 15px;
}

.form-control:focus, .form-control:hover {
  border-color: #cc302b;
  box-shadow: none;
}
#navbar-btn a{
  text-decoration: none;
  color: var(--text);
}


/* Responsiveness */

@media screen and (min-width:1000px) and (max-width:1024px) {
 /* Header */
  .contact-link a{
    font-size: 1rem;
    margin-left: 1rem;
  }
  .contact-link i{
    margin-right: 0.2rem;
  }
 
  /* Hero Section */
  
  .main-banner-content h1 {
    width: 100%;
  }
 
  .carousel-item .hero2 .main-banner-content{
    width: 100%;
  }
 
  .carousel-item .hero3 .main-banner-content{
    width: 90%;
  }
  .carousel-item .hero1 .main-banner-content{
    width: 90%;
  }

/* Footer */
.footer {
  padding-top: 4rem;
  background-color: var(--footer);
}

.footer-content{
  font-size: 1rem;
  color: var(--light);
}

#contact p {
  margin-top: 1rem;
  font-size: 1rem;
}
}

@media screen and (min-width:1280px) and (max-width:1396px){
 /* Header */
 .contact-link a{
  font-size: 1rem;
  margin-left: 1rem;
}
.contact-link i{
  margin-right: 0.2rem;
}

 /* Hero Section */
  
 .main-banner-content h1 {
  width: 100%;
}

.carousel-item .hero2 .main-banner-content{
  width: 100%;
}

.carousel-item .hero3 .main-banner-content{
  width: 90%;
}
.carousel-item .hero1 .main-banner-content{
  width: 90%;
}

/* footer */
.footer .list-unstyled a{
  text-decoration: none;
  color: var(--light);
  font-size: 1.1rem;
  
}

}
@media screen and (min-width:768px) and (max-width:912px){
/* Header */
.contact-link a{
  font-size: 0.9rem;
  margin-left: 0.5rem;
}
.contact-link i{
  margin-right: 0.5rem;
}
.social-link{
  gap: 2rem;
}

/* Navbar  */
.navbar .btn{
  margin-left: 0rem;
  margin-bottom: 3rem;
  border-radius: 0rem;
}
/* Hero section */
.subtitle{
  color: var(--subheading);
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: none;
  font-weight: 600;
  width: 100%;
}


.main-banner-content h1 {
  font-size:1.8rem;
  font-weight: 800;
  width: 100%;

}
.main-banner-content p{
  font-size:1rem;
  width: 100%;
  font-weight: 500;
}

.banner-main-3 .btn-main{
  margin-left: 0rem;
  padding: 0.6rem 1.2rem;
  
}
.btn-container a{
  font-size: 0.9rem;
}
.banner-main-3 .btn-main-2{
  margin-left: 0rem;
  padding: 0.6rem 1.2rem;
  background-color: var(--btn-bg);
}


.carousel-item .hero1{
  background: url("../images/heroslider1.png");
  object-fit: cover;
  background-size: cover;
  background-position: center;

}
.carousel-item .hero2{
  background: url("../images/heroslider3.png");
  object-fit: cover;
  background-size: cover;
  background-position: center;
  /* padding: 9.5rem 0rem; */
}
.carousel-item .hero3{
  background: url("../images/heroslider2.png");
 object-fit: cover;
  background-size: cover;
  background-position: center;
  /* padding: 9rem 0rem; */
}
.carousel-item .hero3 .main-banner-content{
  width: 100%;
}
.carousel-item .hero1 .main-banner-content{
  width: 100%;
}
.carousel-item .hero2 .main-banner-content{
  width: 100%;
}
/* footer */
.footer-content{
  text-align: center;
}
#contact .row .col-lg-6:nth-child(2) .form-group input[name="email"] {
  margin-top: 2rem;
  
}
#contact p{
  margin-top: 1rem;
  font-size: 1rem;
}

#contact h4{
  font-size: 1.4rem;
}
.contact-info-block h4 {
  margin-bottom: 0px;
  margin-left: 2rem;
}
.contact-info-block p{
  margin-left: 2rem;
}
}
@media (max-width:540px) {
  /* Header */
.contact-link{
  display: flex !important;
  flex-direction: column !important;
}
.contact-link a{
  font-size: 0.9rem;
  margin-left: 0.5rem;
}
.contact-link i{
  margin-right: 0.5rem;
}
.social-link{
  gap: 2rem;
}

/* Navbar  */
.navbar .btn{
  margin-left: 0rem;
  margin-bottom: 3rem;
  border-radius: 0rem;
}
/* Hero section */
.subtitle{
  color: var(--subheading);
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: none;
  font-weight: 600;
  width: 100%;
}
.main-banner-content{
  padding: 3rem 2rem;
}
#privacy{
  padding: 3rem 2rem;
}
#terms{
  padding: 3rem 2rem;
}
.main-banner-content h1 {
  font-size:1.8rem;
  font-weight: 800;
  width: 100%;

}
.main-banner-content p{
  font-size:1rem;
  width: 100%;
  font-weight: 500;
}

.banner-main-3 .btn-main{
  margin-left: 0rem;
  padding: 0.6rem 1.2rem;
  
}
.btn-container a{
  font-size: 0.7rem;
}
.banner-main-3 .btn-main-2{
  margin-left: 0rem;
  padding: 0.6rem 1.2rem;
  background-color: var(--btn-bg);
}


.carousel-item .hero1{
  background: url("../images/heroslider1.png");
  object-fit: cover;
  background-size: cover;
  background-position: center;

}
.carousel-item .hero2{
  background: url("../images/heroslider3.png");
  object-fit: cover;
  background-size: cover;
  background-position: center;
  /* padding: 9.5rem 0rem; */
}
.carousel-item .hero3{
  background: url("../images/heroslider2.png");
 object-fit: cover;
  background-size: cover;
  background-position: center;
  /* padding: 9rem 0rem; */
}
.carousel-item .hero3 .main-banner-content{
  width: 100%;
}
.carousel-item .hero1 .main-banner-content{
  width: 100%;
}
.carousel-item .hero2 .main-banner-content{
  width: 100%;
}
.navbar{
  padding: 0rem 0.6rem;
}
.navbar img{
  width: 70%;
}
#bestseller{
  padding: 3rem 2rem;
}
#bestseller img{
  width: 100%;
  padding-top: 2rem;
}
/* footer */
.footer{
  padding: 3rem 2rem;
}
.footer h4{
  margin-top: 0rem;
}
.footer-content{
  text-align: center;
}
.footer-widget {
  text-align: center;
}
.footer-copy {
  text-decoration: none;
  color: var(--dark) !important;
  text-align: center;
  font-size: 1rem;
  margin-left: 3rem;
  gap: 1rem;
}

#contact{
  padding: 3rem 2rem;
}
#contact .row .col-lg-6:nth-child(2) .form-group input[name="email"] {
  margin-top: 2rem;
  
}
.contact-info-block h4 {
  margin-bottom: 0px;
  margin-left: 0rem !important;
}
.contact-info-block p{
  margin-left: 0rem !important;
}
}
@media (max-width:430px) {
  .subtitle{
    color: var(--subheading);
    font-size: 0.9rem !important;
    
    text-transform: uppercase;
    letter-spacing: none;
    font-weight: 600;
    width: 100%;
  }
  #navbar-btn{
    font-size: 0.8rem;
    padding: 0.3rem 1rem;
  }
  .main-banner-content{
    padding: 3rem 1rem !important;
  }
  #privacy{
    padding: 3rem 1rem !important;
  }
  #privacy h3 {
    font-size: 1.1rem !important;
}
  #privacy p{
    font-size:1rem !important;
  }
  #privacy ul li{
    font-size:1rem !important;
  }
  #privacy span{
    font-size:1rem !important;
  } 
  #terms{
    padding: 3rem 1rem !important;
  }
  #terms h3 {
    font-size: 1.1rem !important;
}
  #terms p{
    font-size:1rem !important;
  }
  #terms ul li{
    font-size:1rem !important;
  }
  #terms span{
    font-size:1rem !important;
  } 
 
 #bestseller{
  padding: 3rem 1rem !important;
 }
  #card-section{
    padding: 3rem 1rem !important;
  } 
#card-section .card{
  margin-top: 2.3rem;
  margin-left: 0% !important;
}
#contact{
  padding: 3rem 1rem !important;
}
.footer-copy{
  display: flex;
  flex-direction: column;
  font-weight: 700;
  margin-left: 0rem !important;
}

.nav-link {
  font-size: 1rem !important;
  
}
.breadcrumb li {
 
  font-size: 3rem;
}

}
@media (max-width:344px) {
  .navbar{
    padding: 0rem !important;
    flex-wrap: nowrap !important;
  }
   .navbar img{
    width: 60% !important;
   }
}

.btn-container a {
  font-size: 0.6rem !important;
}
