
/* Contact  */
#contact{
  padding: 6rem 0rem;
}
#contact p{
  margin-top: 1rem;
  font-size: 1.2rem;
}
#contact h2{
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--light);
}
#contact textarea{
  margin-top: 2rem;
  resize: none;
  height: 200px;
}

#contact h4{
  font-size: 1.5rem;
}
.contact-info-block h4 {
  margin-bottom: 0px;
  margin-left: 4rem;
}
.contact-info-block p{
  margin-left: 4rem;
}

.contact-info-block i {
  font-size: 40px;
  margin-bottom: 20px;
  display: block;
  color: #cc302b;
}

.form-control {
  border: 1px solid rgba(0, 0, 0, 0.04);
  background: #F4F7FC;
  height: 60px;
  padding-left: 15px;
}

.form-control:focus, .form-control:hover {
  border-color: #cc302b;
  box-shadow: none;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.contact-form-container {
  flex: 1 1 60%; /* Adjust the percentage as needed */
  display: flex;
  flex-direction: column;
}

.contact-info {
  flex: 1 1 35%; /* Adjust the percentage as needed */
  display: flex;
  flex-direction: column;
}

.contact__form .form-group {
  margin-bottom: 15px;
}

.contact__form .form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.contact__form .form-footer .disclaimer {
  margin: 0;
}

.contact-info-block {
  margin-bottom: 20px;
}